body {
    position: static;
}

#container {
    background-color: rgb(70, 230, 118, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

button:hover, input[type=button]:hover {
    cursor: pointer;
}